{% extends "base.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}" />
{% endblock %} {% block 'dashboard' %}
<div class="container">
    <div class="row">
        <div onclick="exibir_form('1')" class="col-md card-dashboard">
            <p class="text-card">Adicionar clientes</p>
        </div>

        <div onclick="exibir_form('2')" class="col-md card-dashboard">
            <p class="text-card">Atualizar clientes</p>
        </div>
    </div><br>

    <div id="adicionar-cliente" class="adicionar-cliente">
        <form action="{% url 'clientes' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md">
                    <p>Nome:</p>
                    <input type="text" class="form-control" placeholder="Primeiro nome" name="nome" value="{{nome}}">
                </div>
                <div class="col-md">
                    <p>Sobrenome:</p>
                    <input type="text" class="form-control" placeholder="Sobrenome" name="sobrenome" value="{{sobrenome}}">
                </div>
            </div><br>
            <p>E-mail:</p>
            <input type="email" class="form-control" placeholder="nome@email.com" name="email" value="{{email}}"><br>
            <p>CPF:</p>
            <input type="text" class="form-control" placeholder="___.___.___-__" name="cpf" value="{{cpf}}">
            <hr style="background-color: gray">
            <div class="add-pets">
                <h3>Pets</h3><br>
                <span class="btn-add-pets" onclick="add_pet(0)">+ Adicionar um pet</span>
                <div class="form-pet">
                    {% for pet, especie, raca, idade in pets %}<br>
                    <div class="row">
                        <div class="col-md">
                            <input class="form-control" name="pet" type="text" placeholder="Pet" value="{{pet}}">
                        </div>
                        <div class="col-md">
                            <select class="form-control" name="especie" value="{{especie}}">
                                <option value="cachorro">Cachorro</option>
                                <option value="gato">Gato</option>
                                <option value="passaro">Pássaro</option>
                                <option value="hamster">Hamster</option>
                            </select>
                        </div>
                        <div class="col-md">
                            <input class="form-control" name="raca" type="text" placeholder="Raça" value="{{raca}}">
                        </div>
                        <div class="col-md">
                            <input class="form-control" type="text" name="idade" placeholder="Idade" value="{{idade}}">
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div><br>
            <input type="submit" value="Cadastrar" class="btn-principal" />
        </form>
    </div>

    <div id="att_cliente">
        <select id="cliente-select" onchange="dados_cliente()" class="form-control">
            {% for cliente in clientes %}
            <option value="{{cliente.id}}">{{cliente.nome}}</option>
            {% endfor %}
        </select><br>
        <hr>

        <div id="form-att-cliente">
            <p>Nome:</p>
            <input id="nome" type="text" class="form-control" name="nome" value="{{nome}}"/>
            <p>Sobrenome:</p>
            <input id="sobrenome" type="text" name="sobrenome" class="form-control" value="{{sobrenome}}"/>
            <p>E-mail:</p>
            <input id="email" type="text" name="email" class="form-control" value="{{email}}"/>
            <p>CPF:</p>
            <input id="cpf" type="text" name="cpf" class="form-control" value="{{cpf}}"/>

            <hr style="background-color: gray">
            <h2>Pets</h2>
            <div class="form-pet">
            </div>
        </div><br>
        <span class="btn-principal" onclick="update_cliente()" method="POST">Atualizar</span>
    </div>
</div>
<script src="{% static 'clientes/js/clientes.js' %}"></script>
{% endblock %}
